@model IEnumerable<MVCTismartLibrary.TismartLibraryService.BookReservation>

@{
    ViewBag.Title = "Index";
    var index = 1;

}

@section Scripts{
    <script>
    $(function () {
        $('.table-active').click(function () {
            var itemId = $(this).data('id');
            var url = '@Url.Action("RequestForReservation", "BookReservation")/' + itemId;

            $('#itemDetailsContainer').load(url, function () {
                $('#itemDetailsModal').modal('show');
            });
        });
    });
    </script>
}

<h2>Bienvenido @ViewBag.UserName</h2>
<a href="@Url.Action("Logout", "Login")">Cerrar Sesión</a>
<h5>Disponibilidad de Libros</h5>

<table class="table">
    <tr>
        <th>
            Index
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsReserved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeReservation)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr data-id="@item.Id" class="table-active">
            <td>
                @index
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @if (item.IsReserved)
                {
                    <text>RESERVADO</text>
                }
                else
                {
                    <text>NO RESERVADO</text>
                }
            </td>
            <td>                
                @if (item.DateTimeReservation == null || item.DateTimeReservation == "")
                {
                    <text>SIN FECHA DE RESERVA</text>
                }
                else
                {
                    @item.DateTimeReservation
                }
            </td>
        </tr>
        index++;
    }

</table>

<div id="itemDetailsContainer"></div>


