@model IEnumerable<MVCTismartLibrary.TismartLibraryService.BookReservation>

@{
    ViewBag.Title = "Index";
    var index = 1;

}

@section styles {
    <style>
        /* Add custom styles for disabled rows */
        .disabled {
            background-color: #f8d7da; /* Light red background color */
            color: #721c24; /* Dark red text color */
        }

        .disabled-overlay {
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
            pointer-events: none; /* Allow clicks to pass through the overlay */
        }
    </style>
}

@section Scripts{
    <script>
    $(function () {
        $('.table-active').click(function () {
            var itemId = $(this).data('id');
            var url = '@Url.Action("RequestForReservation", "BookReservation")/' + itemId;

            $('#itemDetailsContainer').load(url, function () {
                $('#itemDetailsModal').modal('show');
            });
        });
    });
    </script>
}

<h2>Bienvenido @ViewBag.UserName</h2>
<a href="@Url.Action("Logout", "Login")">Cerrar Sesión</a>
<h5>Disponibilidad de Libros</h5>

<table class="table">
    <tr>
        <th>
            Nº
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Code)*@ Código
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Title)*@ Título
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.IsReserved)*@ Estado
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.DateTimeReservation)*@ Fecha de Reserva
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr data-id="@item.Id" @(item.UserId.ToString() == ViewBag.CurrentUserId.ToString() ? "class=disabled table-active" : "class=table-active")>
            <td>
                @index
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @if (item.IsReserved)
                {
                    <text>RESERVADO</text>
                }
                else
                {
                    <text>NO RESERVADO</text>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @if (item.DateTimeReservation == null || item.DateTimeReservation == "")
                {
                    <text>SIN FECHA DE RESERVA</text>
                }
                else
                {
                    @item.DateTimeReservation
                }
            </td>
        </tr>
        index++;
    }

</table>

<div id="itemDetailsContainer"></div>




